.nastred{
	text-align: center;
	  margin-left: auto;
  margin-right: auto;
}

.row-picture{
	width: 20%;
	float: left;
}

.circle{
	border-radius: 100%;
	width: 100%;
}

.row-content{
	float: right;
	text-align: center;
	width: 75%;
}

.icona-hore{
	font-size: 25px;
}

.slozka{
	width: 250px;
	float: left;
	padding-bottom: 35px;
}

.input-fix{
	margin: 5px;
}

.napravo{
float: right;
}

.obrazek{
	width: 90%;
}

.img48{
	width: 48px;
}

.obrazek-ramecek{
	margin: 10px;
	float: left;
	width: 200px;
}

.zobraz{
	width: 1000px;
}

.nastred-obr{
	width: 90%;
}

.form-text{
	float: left;
	padding: 7px;
}

.margin-fix{
	margin-left: 5px;
}

.signature{
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	bottom: 0px;
}

.main{
	margin-top: 25px;
}

.float-left{
	float: left;
}

.float-right {
	float: right;
}

.clear{
	clear: both;
}

.thubnail{
	width: 100%;
}

.half-width{
	width: 50%;
}

.fixed-top{
	position: fixed;
	top: 0px;
	width: 100%;
}

.spacer {
	height: 50px;
}

.margin-fix{
	margin: 20px;
}

.height-fix{
	height: 200px;
}

.star{
	height: 400px;
}

.planet{
	width: 20%;
	float: left;
}

@media all and (min-width: 1000px) {
.slozka-ramecek{
margin: 2.5%;
float: left;
width: 20%;
}
}
@media all and (min-width: 600px) and (max-width: 999px){
.slozka-ramecek{
margin: 2.5%;
float: left;
width: 45%;
}
@media all and (max-width: 599px) {
.slozka-ramecek{
margin: 2.5%;
width: 95%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
